Individual Student info Page <br/>
<br/>
First Name: <%=@student.first_name%><br/>
Last Name: <%=@student.last_name%><br/>
Preferred Name: <%=@student.preferred_name%><br/>
<br/>
Feedback Provided:<br/>
<ul>
<%@student.feedbacks.each do |feedback|%>
<li><%=feedback.content%></li><br/>
<%end%>
</ul>


<a href="/teachers/show/<%=session[:user_id]%>">Back to Student Index</a><br/>

<a href="/teachers/login">Logout</a>

<a href="/about">Click here if you want to know more about Educational Feedback.</a><br/>
