Review Previous Feedback <br/>


Here are the things you have said previously, <%=current_user.first_name%>. <br/>

You said:
<ol>
<%current_user.feedbacks.each do |feedback|%>
<li><%=feedback.content%> <br/>
            which was submitted on <%=feedback.created_at%> <a href="/feedbacks/edit/<%=feedback.id%>">Edit</a> <a href="/feedbacks/delete/<%=feedback.id%>">Delete</a></li>
<%end%>
</ol>
<a href="/students/<%=current_user.id%>/show">Back to Student Main Page</a><br/>
<a href="/students/login">Logout</a>
